.products{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(243px, 1fr));
    gap:3rem;
}

.products li{
    background: #111;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
}

.products h3{
    margin: 1rem 0 0 0;
}
.products p span{
    font-size: 1.5rem;
    font-weight: 700;

}

.products img{
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 4px;
    object-fit: cover;
    background: #fff;
}